<h1>HEllo js</h1>
<div class="cart-item">
  <img src="assets/images/71mAqerZwmL._AC_SX466_.jpg" alt="">
  <div class="cart-item_title">Quick Charge 3.0 USB Car Charger Socket 12V/24V 36W Dual QC3.0 USB Fast Charger
    Socket Power Outlet with Touch Switch for Marine, Boat, Motorcycle, Truck, Golf Cart (White)
  </div>
  <div class="cart-item_price">{{price | currency : 'USD' }}</div>
  <div class="cart-item_discount">{{'discount' | uppercase }} <span>{{discount | percentage}}</span></div>
  <div class="cart-item_finalPrice">{{price - (price * discount / 100) | currency : 'USD'}}</div>
</div>

<div class="control-panel">
  <div class="form-group">
    <label>Price:</label>
    <!--<input #txtPrice type="number" id="text-price" placeholder="price" min="0" [value]="price" (input)="updatePrice(txtPrice.value)">-->
    <input type="number" id="text-price" placeholder="price" min="0" [(ngModel)]="price">
  </div>
  <div class="form-group">
    <label>Discount</label>
    <input type="number" id="txt-discount" min="0" placeholder="Discount" [(ngModel)]="discount">
  </div>

</div>
